body {
    margin: 0;
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 70%;
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: azure;
    gap: 20px;

}

.home-container, .guest-container{
width: 70%;
border-radius: 20px;
border: 2px solid rgb(141, 141, 141);
}

.home-container, .guest-container{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-content: center;
     background-color: rgb(192, 225, 255);
}


#home-score-display, #guest-score-display{
    width:50%;
    margin: 0 auto;
    height: 20px;
    
}


#home-score-display, #guest-score-display{
    padding: 20px;
    background-color: black;
    color: red;/*text color*/
   
}

.home-button, .guest-button{
    width:70%;
    margin: 0 auto;
    border-radius: 10px;
    border: 2px solid salmon;
    padding: 20px 0;
}

.home-button, .guest-button{
    
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 20px auto;
    
}

.border-styles{
    border-radius: 20px;
    border: 3px solid salmon;
}