body {
    margin: 0;
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    justify-content: space-around;
    background-color: azure;
}

.home-container, .guest-container{
     display: flex;
     flex-direction: column;
     margin-bottom: 20px;
     
}

#home-score-display, #guest-score-display{
    padding: 20px;
    background-color: black;
    color: red;
    height: 10px;
}

.home-button, .guest-button{
    
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    
}